/**************************/
/****** General ***********/
/**************************/
* {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  /* border: 1px dotted grey; */
  width: 100%;
  max-width: 1440px;
  padding: 0 50px 58px 50px;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  gap: 35px; /* Inter-sections gap */
  margin-top: 30px; /* Header-Main gap */
  margin-bottom: 35px; /* Footer-Main gap */
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.section-subtitle {
  /* Here? To reconsider */
  margin: 8px 0px 0px 0px;
}

.sub-section-title {
  /* Bad naming */
  font-size: 18px;
  font-weight: 700;
  /* margin-top: 30px; */
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/************************/
/****** Header **********/
/************************/

.logo {
  height: 19px;
  padding: 30px 50px 30px 0;
  /* margin: 30px 50px; */
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-direction: row;
  /* padding: 0px 50px; */
  height: 35px;
  gap: 68px;
  margin: 0;
  list-style-type: none;
}

.menu-item {
  display: flex;
  align-items: end;
  /* When box-sizing is set to border-box, the width and height of an element 
   * are calculated based on its content, padding, and border. This means that
   * the padding and border of the element are included in the width and height.
   */
  box-sizing: border-box; /* prevente content to move when border width change */
  height: 100%;
}

.menu-item:hover {
  color: var(--main-color);
  border-top: 2px solid var(--main-color);
}

/*****************************/
/****** Search section *******/
/*****************************/

.search-section {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.headline {
  /* border: 1px dotted grey; */
}

.search-bar {
  display: flex;
  height: 49px;
}

.search-bar label {
  display: inline-block;
  width: 50px;
  background: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px 0 0 15px;
}

.search-bar label .fa-solid {
  color: black;
}

.search-bar input {
  border: 1px solid var(--main-bg-color);
  width: 147px; /* As per Figma mockup (???)*/
  font-weight: 700;
  font-size: 18px;
  padding: 0 24px;
}

.search-bar button {
  color: white;
  font-weight: 700;
  font-size: 18px;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 0 15px 15px 0;
  padding: 15px 16px;
}

.filter-bar {
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 15px;
  height: 50px;
}

.filter-bar button {
  height: 100%;
  font-size: 17px;
  font-weight: 700;
  border-radius: 25px;
  border: 2px solid #d9d9d9;
  background-color: white;
  padding: 4px 19px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter-bar button:hover {
  background-color: var(--filter-bg-color);
}

.info-bar {
  display: flex;
  align-items: center;
  height: 24px;
  gap: 10px;
}

.circle {
  border: 2px solid #d9d9d9;
  width: 24px;
  border-radius: 24px 24px 24px 24px;
  display: flex;
  justify-content: center;
}

/*****************************************************/
/****** Offers (Hébergements et Populaires ***********/
/*****************************************************/

.offers {
  display: flex;
  justify-content: space-between;
}

.offers section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/*********************************************/
/****** Main offers (Hébergements) ***********/
/*********************************************/
.main-offers {
  width: 65%;
}

.main-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-cards .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 240px; /* -10px --> padding de 2x5px */
  margin-top: 30px;
  padding-bottom: 5px; /*15px - 5px (stars bottom) - 5 (card padding) */
}

.main-cards img {
  object-fit: cover;
  /* height: 124px; /* Selon maquette */
  /* height: 114px; /* 124px - (2 x 5px border) */
  height: 110px; /* pourquoi 110px ?*/
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.main-cards .card-content {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.main-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.main-cards .card-subtitle {
  margin: 0;
}

.main-cards .card-rating {
  margin-bottom: 5px;
}

.more-cards .sub-section-title {
  padding-top: 30px;
}

/************************************************/
/****** Sponsored offers (Populaires) ***********/
/************************************************/

.sponsored-offers {
  width: 32%;
}

.sponsored-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sponsored-cards .card {
  display: flex;
  margin-top: 30px;
}

.sponsored-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.sponsored-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.sponsored-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.sponsored-cards .card-subtitle {
  margin: 0;
}

.sponsored-cards .card-rating {
  margin-bottom: 5px;
}

/*****************************************/
/****** Activities (Activités) ***********/
/*****************************************/

.activities {
  padding: 30px;
  box-sizing: border-box;
  /* border: 1px dotted red; */
}

.activity-cards {
  display: flex;
  justify-content: space-between;
}

.activity-cards .card {
  display: flex;
  flex-direction: column;
  width: 297.5px;
  margin-top: 30px;
  padding-bottom: 5px;
  padding: 0 0 0 0;
}

.activity-cards img {
  object-fit: cover;
  height: 380px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activity-cards .card-title {
  font-weight: 700;
  font-size: 16px;
  margin: 20px 19px 20px 19px;
}

/*************************/
/****** Footer ***********/
/*************************/

footer {
  display: flex;
  /* Property distributes the flex items evenly across the available space, 
   * with equal space between each item and the start and end of the flex 
   * container. */
  justify-content: space-evenly;
}

.footer-navigation {
  /* sets the initial width of the flex items to 0. This tells Flexbox to 
   * distribute the available space evenly among the flex items, regardless of 
   * their initial width.  */
  flex-basis: 0;
  /* tells Flexbox to grow the flex items to fill the available space. This 
   * will ensure that all flex items have the same width. */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background: var(--main-bg-color);
  padding: 20px 20px;
  gap: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
}
