/**************************/
/****** General ***********/
/**************************/
* {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --filter-border-color: #d9d9d9;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  /* width: 100%; */
  max-width: 1440px;
  min-width: 1025px;
  padding: 0 50px 58px 50px;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  gap: 35px; /* Inter-sections gap */
  margin-top: 30px; /* Header-Main gap */
  margin-bottom: 35px; /* Footer-Main gap */
}

fieldset {
  border: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.section-subtitle {
  margin: 8px 0px 0px 0px;
}

.sub-section-title {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.card-subtitle {
  font-size: 14px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/************************/
/****** Header **********/
/************************/

.logo {
  height: 19px;
  padding: 30px 50px 30px 0;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-direction: row;
  height: 35px;
  gap: 68px;
  margin: 0;
  list-style-type: none;
}

.menu-item {
  display: flex;
  align-items: end;
  box-sizing: border-box; /* Preventing content to move when border width change */
  height: 100%;
}

.menu-item:hover {
  color: var(--main-color);
  border-top: 2px solid var(--main-color);
}

/*****************************/
/****** Search section *******/
/*****************************/

search {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.search-bar {
  display: flex;
  height: 50px;
}

.search-bar label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 49px;
  background: var(--main-bg-color);
  border-radius: 15px 0 0 15px;
}

.search-bar label .fa-solid {
  color: black;
  font-size: 18px;
}

.search-bar input {
  border: 1px solid var(--main-bg-color);
  width: 195px; /* As per Figma mockup */
  font-weight: 700;
  font-size: 18px;
  padding: 0 24px;
}

.search-bar button {
  color: white;
  font-weight: 700;
  font-size: 18px;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 0 15px 15px 0;
  padding: 15px 16px;
}

.filter-bar {
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 15px;
  height: 50px;
  margin-top: 35px;
}

.filter-bar button {
  height: 100%;
  font-size: 17px;
  font-weight: 700;
  border-radius: 25px;
  border: 2px solid var(--filter-border-color);
  background-color: white;
  padding: 4px 17px; /* 19px - 2px (border)*/
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter-bar button .fa-solid {
  height: 22px;
  width: 22px;
}

.fa-money-bill-wave {
  font-size: 19px;
}

.fa-person {
  font-size: 22px;
}

.fa-heart {
  font-size: 22px;
}

.fa-fire {
  font-size: 22px;
}

.filter-bar button:hover {
  background-color: var(--filter-bg-color);
}

.info-bar {
  display: flex;
  align-items: center;
  height: 24px;
  gap: 10px;
}

/*****************************************************/
/****** Offers (Hébergements et Populaires) **********/
/*****************************************************/

.offers {
  display: flex; /* for main and sponsored offers  */
  justify-content: space-between;
}

.offers section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/*********************************************/
/****** Main offers (Hébergements) ***********/
/*********************************************/
.main-offers {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 65%;
}

.main-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
}

.main-cards .card {
  flex-basis: 29%;
  /* flex: 1; */
}

.main-cards img {
  object-fit: cover;
  box-sizing: border-box;
  height: 114px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.main-cards .card-content {
  box-sizing: border-box;
  padding: 4px 10px 10px 10px; /* !--> Parent has a 5px pad. */
}

.main-cards .card-title {
  margin-bottom: 8px;
}

.main-cards .card-rating {
  margin-top: 6px; /* Ajusted visualy, should be 8 px */
}

/* Stars size adjustment */
/* Beurk : to respect fidely Figma mockup */
.main-offers .fa-star {
  font-size: 13.25px;
  margin-right: -3px;
}

/************************************************/
/****** Sponsored offers (Populaires) ***********/
/************************************************/

.sponsored-offers {
  width: 32%;
}

.sponsored-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sponsored-cards .card {
  display: flex;
  margin-top: 30px;
}

.sponsored-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.sponsored-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.sponsored-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.sponsored-cards .card-subtitle {
  margin: 0;
}

.sponsored-cards .card-rating {
  margin-bottom: 5px;
}

/* Stars size adjustment */
/* Beurk : to respect fidely Figma mockup */
.sponsored-offers .fa-star {
  margin-right: -3px;
}

/*****************************************/
/****** Activities (Activités) ***********/
/*****************************************/

.activities {
  padding: 30px;
  box-sizing: border-box;
}

.activity-cards {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.activity-cards .card {
  display: flex;
  flex-direction: column;
  flex: 1; /* flex-grow : 1, flex-shrink: 1, flex-basis: 0; */
  margin-top: 30px;
  padding-bottom: 5px;
  padding: 0;
}

.activity-cards img {
  object-fit: cover;
  height: 380px;
  width: 100%; /* Widht of the parent : card */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activity-cards .card-title {
  font-weight: 700;
  font-size: 16px;
  margin: 20px 19px 20px 19px; /* As per Figma mockup */
}

/*************************/
/****** Footer ***********/
/*************************/

footer {
  display: flex;
  /* Property distributes the flex items evenly across the available space, 
   * with equal space between each item and the start and end of the flex 
   * container. */
  justify-content: space-evenly;
}

.footer-navigation {
  /* sets the initial width of the flex items to 0. This tells Flexbox to 
   * distribute the available space evenly among the flex items, regardless of 
   * their initial width.  */
  flex-basis: 0;
  /* tells Flexbox to grow the flex items to fill the available space. This 
   * will ensure that all flex items have the same width. */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background: var(--main-bg-color);
  padding: 20px 20px;
  gap: 15px;
}

/****** Media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}
